@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Limelight');

$comfortaa-sans: 'Comfortaa', sans-serif;
@mixin comfortaa-bold-sans {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}
$limelight-sans: 'Limelight', sans-serif;
