<nav class="header__site-nav">
    <ul class="site-nav-list">
        <a href="{% url 'fools-classes-dance' %}">
            <li>Classes &amp; Dance</li>
        </a>
        <a href="{% url 'fools-staff' %}">
            <li>Staff</li>
        </a>
        <a href="{% url 'fools-getting-here' %}">
            <li>Getting Here</li>
        </a>
        <a href="{% url 'fools-contact' %}">
            <li>Contact</li>
        </a>
        <li>WCS in Boston</li>
        <li>University Swing</li>
    </ul>
</nav>
