@import "colors/colors";
@import "fonts/fonts";
@import "layout/layout";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $paragraph-font;
}

p, li {
  line-height: 1.6rem;
  font-size: 1.2rem;
}

li {
  margin: 0.1rem 0;
}

h2, p {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.2rem;
  @include header-bold;
}

body {
  max-width: 100%;
  background-color: $butter-yellow;
  display: grid;
  grid-template-columns: [left-edge] $gutter-size [start-main] auto [end-main] $gutter-size [right-edge];
  grid-template-rows: [start-head] auto [start-nav] auto [start-main] auto [end-main];
  justify-content: stretch;
}

header {
  @include section-padding;
  @media (max-width: $banner-md) {
    background:
      url("../img/dist/md/fools_header_banner.jpg") no-repeat center,
      $dark-navy repeat;
    background-size: $banner-md auto, contain;
  }
  @media (min-width: $banner-md) and (max-width: $banner-lg) {
    background:
      url("../img/dist/lg/fools_header_banner.jpg") no-repeat center,
      $dark-navy repeat;
    background-size: 1200px auto, contain;
  }
  @media (min-width: $banner-lg) {
    background:
      url("../img/dist/xlg/fools_header_banner.jpg") no-repeat center,
      $dark-navy repeat;
    background-size: 100% auto, cover;
  }

  color: $butter-yellow;
  text-align: center;
  .header__site-title {
    font-family: $title-font;
    font-size: 4rem;
  }

  .header__site-subtitle {
    font-size: 1.5rem;
  }

  grid-column: left-edge / right-edge;
  grid-row: start-head / start-nav;
}

$nav-separator: "|";

nav {
  padding: 0.5rem 0;
  grid-column: left-edge / right-edge;
  grid-row: start-nav / start-main;
  justify-self: stretch;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $dark-navy;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $off-white;
    li {
      &:after {
        content: $nav-separator;
        padding-left: 0.5rem;
      }
      padding-right: 0.5rem;
      display: inline-flex;
      align-self: center;
    }
    :first-child {
      &:before {
        content: $nav-separator;
        padding-right: 0.5rem;
      }
    }
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  grid-column: start-main / end-main;
  grid-row: start-main / end-main;
}

ul.list--no-bullet {
  padding-left: 0;
  list-style-type: none;
}

.header__site-subtitle {
  font-family: $header-font;
}

.section__this_week {
  img {

    margin-bottom: 1rem;
  }
}

.icon {
  path {
    fill: $off-white;
  }
  height: 5rem;
  width: 5rem;
}
