{% extends 'fools/base.html' %}

{% block header %}
    <title>CLasses & Dance</title>
{% endblock %}

{% block content %}
    <main id="main-classes-and-dance">
        <section class="section__weekly-classes" aria-label="Weekly Classes">
            <div class="heading--centered heading--subtitle">
                <h2>Weekly Classes</h2>
                <small>8:30pm - 9:30pm | $10 | $5 for students</small>
            </div>
            <div class="card">
                <h3>Newcomer</h3>
                <ul class="list--no-bullet">
                    <li>For brand new dancers</li>
                    <li>No partner required</li>
                    <li>Held every wednesday</li>
                    <li>Taught by long-time community members</li>
                </ul>
            </div>
            <div class="card">
                <h3>Beginner</h3>
                <ul class="list--no-bullet">
                    <li>Learn the basic patterns</li>
                    <li>Held every wednesday</li>
                    <li>Taught by local advanced dancers</li>
                </ul>
            </div>
            <div class="card">
                <h3>Intermediate</h3>
                <ul class="list--no-bullet">
                    <li>Improve your technique</li>
                    <li>Learn cool tricks</li>
                    <li>Held every wednesday</li>
                    <li>Taught by local advanced dancers</li>
                </ul>
            </div>
        </section>
        <section class="section__social-dancing" aria-label="Social Dancing">
            <div class="heading--centered heading--subtitle">
                <h2>Social Dancing</h2>
                <small>9:30pm - 12:00am | Free with Lesson</small>
            </div>
            <p>
                Dance to Pop, Soul, R&B and Blues music with your local West
                Coast Swing dancer community.
            </p>
            <p>
                We are lucky enough to have an extraordinarily welcoming
                group of young, vibrant dancers from the Boston area. Come
                join us and see for yourself.
            </p>
        </section>
    </main>
{% endblock %}