@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Limelight|Satisfy:400,700');

$header-font: 'Satisfy', cursive;
@mixin header-bold {
  font-family: 'Satisfy', cursive;
  font-weight: 700;
}
$title-font: 'Limelight', sans-serif;
$paragraph-font: 'Josefin Sans', sans-serif