// Base colors
$butter-yellow: #fff6e9ff;
$light-tan: #f6ede0ff;
$pure-white: #ffffff;
$off-black: #211f30;
$off-white: #f0f0f0;
$dark-navy: #232A5C;
$burnt-orange: #CCA272;

$image-path: '../img/dist';  // Path from css location to image location

$banner-md: 800px;
$banner-lg: 1200px;
$banner-xlg: 2000px;

// Base Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Limelight|Satisfy:400,700');

$header-font: 'Satisfy', cursive;
@mixin header-bold {
  font-family: 'Satisfy', cursive;
  font-weight: 700;
}
$title-font: 'Limelight', sans-serif;
$paragraph-font: 'Josefin Sans', sans-serif;
