@import 'base';

.social-icons {
  display: flex;
  justify-content: center;
  div {
    width: 50%;
  }
  a:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.icon {
  path {
    fill: $off-white;
  }
  height: 3rem;
  width: 3rem;
}

i {
  margin-right: 0.5rem;
}