@import 'base';

@mixin section-padding {
  padding: 1rem 0;
}

body {
  max-width: 100%;
  background-color: $butter-yellow;
  display: grid;
  grid-template-columns: [left-edge] $gutter-size [start-main] auto [end-main] $gutter-size [right-edge];
  grid-template-rows: [start-head] auto [start-nav] auto [start-main] auto [end-main];
  justify-content: stretch;

  section:last-of-type {
    margin-bottom: 2rem;
  }
}

main {
  grid-column: start-main / end-main;
  grid-row: start-main / end-main;
}

.section__this_week {
  img {
    margin-bottom: 1rem;
  }
}

// Responsive iframe css found here:
// https://benmarshall.me/responsive-iframes/
.window__container {
  position: relative;
  height: 0;
  overflow: hidden;
  &--16x9 {
    padding-bottom: 56.25%;
  }
  &--square {
    padding-bottom: 100%;
  }

  // If necessary, also implement this option
  //&--4x3 {
  //  padding-bottom: 75%;
  //}
}

.window__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// End responseive iframe css