@import 'base';

$gutter-size: 1rem;

@mixin section-padding {
  padding: 1rem 0;
}

body {
  max-width: 100%;
  background-color: $butter-yellow;
  display: grid;
  grid-template-columns:
    [left-edge] $gutter-size
    [start-main] auto [end-main]
    $gutter-size [right-edge];
  @media (min-width: 400px) {
    $gutter-size: 2rem;
    grid-template-columns:
      [left-edge] $gutter-size
      [start-main] auto [end-main]
      $gutter-size [right-edge];
  }
  @media (min-width: 820px) {
    $gutter-size: auto;
    grid-template-columns:
      [left-edge] $gutter-size
      [start-main] 800px [end-main]
      $gutter-size [right-edge];
  }
  @media (min-width: 1200px) {
    $gutter-size: auto;
    grid-template-columns:
      [left-edge] $gutter-size
      [start-main] 1125px [end-main]
      $gutter-size [right-edge];
  }
  @media (min-width: 1600px) {
    font-size: 20px;
    grid-template-columns:
      [left-edge] $gutter-size
      [start-main] 1500px [end-main]
      $gutter-size [right-edge];
  }
  grid-template-rows:
    [start-head] auto
    [start-nav] auto
    [start-main] auto
    [end-main] 2rem [end-page];
  justify-content: stretch;

  section:last-of-type {
    margin-bottom: 2rem;
  }
}

main {
  grid-column: start-main / end-main;
  grid-row: start-main / end-main;
}

#main-fools {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "dance-info"
    "this-week"
    "who-we-are"
    "west-coast-swing"
    "location";

  @media (min-width: 600px) {
    grid-template-areas:
      "dance-info this-week"
      "who-we-are this-week"
      "west-coast-swing west-coast-swing"
      "location location";
  }
  @media (min-width: 1000px) {
    grid-gap: 2rem;
  }
  @media (min-width: 700px) {
    grid-template-areas:
      "dance-info this-week"
      "who-we-are this-week"
      "west-coast-swing location";
  }
}


.section__dance_info {
  grid-area: dance-info;
}

.section__this_week{
  grid-area: this-week;
}

.section__who_we_are {
  grid-area: who-we-are;
}

.section__west_coast_swing {
  grid-area: west-coast-swing;
}

.section__location {
  grid-area: location;
}

.section__this_week {
  img {
    margin-bottom: 1rem;
  }
}

// Grid layout for Classes & Dance

#main-classes-and-dance {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'weekly-classes'
    'social-dancing';
  @media (min-width: 560px) and (max-width: 799px) {
    section {
      width: 500px;
      margin: 0 auto;
    }
  }
  @media (min-width: 800px) {
    grid-template-areas:
      'weekly-classes social-dancing';
  }
}

.section__weekly-classes {
  grid-area: weekly-classes;
}

.section__social-dancing {
  grid-area: social-dancing;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'sd-header'
    'sd-text-one'
    'sd-img-one'
    'sd-text-two'
    'sd-img-two';
  @media (min-width: 430px) {
    p {
      margin-bottom: 0;
      align-self: center;
    }
    grid-template-areas:
      'sd-header sd-header'
      'sd-text-one sd-img-one'
      'sd-img-two sd-text-two';
  }
}

#social-dance-header {
  grid-area: sd-header;
}

#social-dance-img-one {
  grid-area: sd-img-one;
}

#social-dance-img-two {
  grid-area: sd-img-two;
}

#social-dance-text-one {
  grid-area: sd-text-one;
}

#social-dance-text-two {
  grid-area: sd-text-two;
}

// Responsive iframe css found here:
// https://benmarshall.me/responsive-iframes/
.window__container {
  position: relative;
  height: 0;
  overflow: hidden;
  &--16x9 {
    padding-bottom: 56.25%;
  }
  &--square {
    padding-bottom: 100%;
  }

  // If necessary, also implement this option
  //&--4x3 {
  //  padding-bottom: 75%;
  //}
}

.window__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// End responseive iframe css