{% extends 'fools/base.html' %}
{% load static %}

{% block header %}
    <title>The Dancing Fools</title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <main id="main-fools">
        <section class="section__dance_info">
            <h2 class="header__section_header">Wednesday Night Dance</h2>
            <ul class="list--no-bullet">
                <li>Every Wednesday night</li>
                <li><address>1950 Mass. Ave., Cambridge MA</address></li>
                <li>Lessons 8pm-9pm</li>
                <li>Social Dancing 9pm-12am</li>
                <li>$10 general admission</li>
                <li>$5 students with ID</li>
                <li>Cash Only</li>
            </ul>
        </section>
        <section class="section__this_week">
            <h2>This Week</h2>
            <img src="{% static 'fools/img/dist/sm/instagram_sample.jpg' %}"/>
            <p>
                You’ve got two chances to burn up the dance floor with us this
                week: we’ve got our regular dance this Wednesday PLUS our
                sister dance in Newton on Saturday! Our beginner lesson
                topics on Wednesday are right side passes and push breaks
                (no experience required). The intermediate lesson topic is
                whips. For the advanced lesson topics, please come to class!
            </p>
        </section>
        <section class="section__who_we_are">
            <h2 class="header__section_header">Who We Are</h2>
            <p>
                The Dancing Fools have been teaching social dance lessons in
                Boston for over 20 years. We specialize in west coast swing
                because it can be danced just about anywhere and uses today's
                current music- everything from hip-hop, to popular music, to
                R&B, to country western and more!
            </p>
            <p>
                We will teach you in a fun, relaxed atmosphere.  No partner
                necessary; bring friends or meet new people! Our ability to
                incorporate good technique, musicality, and the sheer delight
                of being playful and having fun with each "fool" we dance with
                is what makes us The Dancing Fools!
            </p>
        </section>
        <section class="section__west_coast_swing">
            <h2 class="header__section_header">West Coast Swing</h2>
            <p>
                West coast swing is a flexible, slow swing dance that is danced
                to a wide variety of music: rhythm and blues, 60s, latin, 70s
                funk, 80s pop, 90s boy bands, and hip hop. It is a more sultry
                and sexier style of swing dancing than Lindy Hop. West coast
                swing is the official state dance of California. It has been
                gaining national attention recently, with west coast swing
                dancers appearing on a variety of TV shows.
            </p>
            <div class="window__container window__container--16x9">
                <iframe class="iframe-container iframe-container-16x9"
                        src="https://www.youtube-nocookie.com/embed/aTECoXxfpkU?
                        rel=0&amp;controls=0&amp;showinfo=0&amp;start=1"
                        allow="autoplay; encrypted-media"
                        allowfullscreen>
                </iframe>
            </div>
        </section>
        <section class="section__location">
            <div class="heading--centered heading--subtitle heading--align-top">
                <h2>Location</h2>
                <address>1950 Massachusetts Ave. Cambridge, MA</address>
            </div>
            <a href="https://www.google.com/maps/dir/?api=1&destination=The+Cambridge+Masonic+Hall"
               target="_blank">
            <picture class="getting-here-location-map side right">
                <source srcset="{{ G_MAPS_API }}staticmap?size=150x150&scale=1{{ LOCATION_MAP_PARAMS }} 1x,
                                {{ G_MAPS_API }}staticmap?size=300x300&scale=2{{ LOCATION_MAP_PARAMS }} 2x"
                        media="(max-width: 499px)">
                <source srcset="{{ G_MAPS_API }}staticmap?size=225x225&scale=1{{ LOCATION_MAP_PARAMS }} 1x,
                                {{ G_MAPS_API }}staticmap?size=450x450&scale=2{{ LOCATION_MAP_PARAMS }} 2x"
                        media="(min-width: 500px) and (max-width: 699px)">
                <source srcset="{{ G_MAPS_API }}staticmap?size=175x175&scale=1{{ LOCATION_MAP_PARAMS }} 1x,
                                {{ G_MAPS_API }}staticmap?size=350x350&scale=2{{ LOCATION_MAP_PARAMS }} 2x"
                        media="(min-width: 700px) and (max-width: 1599px)">
                <source srcset="{{ G_MAPS_API }}staticmap?size=250x250&scale=1{{ LOCATION_MAP_PARAMS }} 1x,
                                {{ G_MAPS_API }}staticmap?size=500x500&scale=2{{ LOCATION_MAP_PARAMS }} 2x"
                        media="(min-width: 1600px)">
                <img src="{{ G_MAPS_API }}staticmap?size=1000x1000&scale=2{{ LOCATION_MAP_PARAMS }}"
                     alt="Map to The Dancing Fools">
            </picture>
            </a>
            <a href="https://www.google.com/maps/dir/?api=1&destination=The+Cambridge+Masonic+Hall"
               target="_blank"
               class="btn btn--green">
                <h4><i class="fas fa-map"></i>Get Directions</h4>
            </a>
        </section>
    </main>
{% endblock %}
