{% extends 'fools/base.html' %}

{% block header %}
    <title>West Coast Swing in Boston</title>
{% endblock %}

{% block content %}
    <main id="main-wcs-in-boston">
        <section class="section__boston-social-dancing">
            <h2>Social Dancing in Boston</h2>
            <div class="card card__event">
                <h3>{% lorem 4 w random %}</h3>
                <small>Address</small>
                <small>January 1, Yearly</small>
                <small>Website Link</small>
                <p>
                    {% lorem 20 w random %}
                </p>
            </div>
            <div class="card card__event">
                <h3>{% lorem 4 w random %}</h3>
                <small>Address</small>
                <small>January 1, Yearly</small>
                <small>Website Link</small>
                <p>
                    {% lorem 20 w random %}
                </p>
            </div>
            <div class="card card__event">
                <h3>{% lorem 4 w random %}</h3>
                <small>Address</small>
                <small>January 1, Yearly</small>
                <small>Website Link</small>
                <p>
                    {% lorem 20 w random %}
                </p>
            </div>
        </section>
        <section class="section__dance-weekends">
            <h2>Annual Dance Weekends</h2>
                <div class="card card__event">
                    <h3>{% lorem 4 w random %}</h3>
                    <small>Address</small>
                    <small>January 1, Yearly</small>
                    <small>Website Link</small>
                    <p>
                        {% lorem 20 w random %}
                    </p>
                </div>
                <div class="card card__event">
                    <h3>{% lorem 4 w random %}</h3>
                    <small>Address</small>
                    <small>January 1, Yearly</small>
                    <small>Website Link</small>
                    <p>
                        {% lorem 20 w random %}
                    </p>
                </div>
                <div class="card card__event">
                    <h3>{% lorem 4 w random %}</h3>
                    <small>Address</small>
                    <small>January 1, Yearly</small>
                    <small>Website Link</small>
                    <p>
                        {% lorem 20 w random %}
                    </p>
                </div>

        </section>
    </main>
{% endblock %}